.wrapper {
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  height: 2000px; /* temporarily extend for parallax testing */
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  padding: 0.5em;
}
